<!DOCTYPE html>
<html class={{bodyClass}}>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Essays</title>
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext">

    <link rel="stylesheet" type="text/css" href="/dist/css/essays/essays.base.css">

</head>

<body class={{bodyClass}}>

	{{{ body }}}

  	<script  src="/dist/js/essays/essays.spotify.js"></script>
  	<script  src="/dist/js/0.0.2.kubrick.min.js"></script>

</body>

</html>
