<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" >
    <title>Kubrick Photography Movement</title>
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext">  
    <link rel="stylesheet" type="text/css" href="/dist/css/gallery/main.gallery.css">

</head>

<body>

	{{{ body }}}

  	<script  src="/dist/js/0.0.1.express.min.js"></script>

</body>

</html>
