<header><span class="header-title">Interview assignment @ De Persgroep</span></header>

<nav class="pager">
	<ul>
		<li  data-val=1></li>
		<li  data-val=2></li>
		<li  data-val=3></li>
		<li  data-val=4></li>
		<li  data-val=5></li>
	</ul>
</nav>


<ul class="parallax">
    
    <li class="slide-1">
        <div class="parallax-background sarkozy"></div>
        <div class ="subcontent align-left first">
            <h2 class="label">Interview &amp; Reportage</h2>
            <h1>Cecilia na </h1>
            <h1 class="highlight">Sarkozy</h1>
            <p class="desc">De biecht van een ex-first lady</p>
        </div>
    </li>
    
    <li class="slide-2">
        <div class="parallax-background eerste"></div>
        <div class ="subcontent align-left">
            <h2 class="label">Fotografie</h2>
            <h1 class="highlight">Mijn</h1>
            <h1>Eerste</h1>
            <p class="desc">Fotografe An-Sofie Kesteleyn zocht en vond gewapende kinderen</p>
        </div>
    </li>

    <li class="slide-3">
        <div class="parallax-background sexy"></div>
        <div class ="subcontent align-left">
            <h2 class="label">Reizen</h2>
            <h1>De meest</h1>
            <h1 class="highlight">Sexy</h1>
            <p class="desc">Varen door het Panama-kanaal</p>
        </div>
    </li>

    <li class="slide-4">
        <div class="parallax-background kobe"></div>
        <div class ="subcontent align-right">
            <h2 class="label">Eten &amp; Drinken</h2>
            <h1>Puur</h1>
            <h1 class="highlight">Kobe</h1>
            <p class="desc">Kobe Desramaults hangt makreel aan de haak</p>
        </div>
    </li>

    <li class="slide-5">
        <div class="parallax-background demods"></div>
        <div class ="subcontent align-left">
            <h2 class="label">Mode</h2>
            <h1>De Mods</h1>
            <h1>Zijn <span class="highlight">terug</span></h1>
            <p class="desc">Britse working-class is helemaal in</p>
        </div>
    </li>

</ul>