<main class="essays-wrapper">

<div class="home">
	<a href="/">&larr;</a>
</div>

<section id="container">
	<ol class="essays">
		<li> <a href="/essays/on-photography">On photography</a></li>
		<li> <a href="/essays/spotify">On publishing and subscribing</a></li>
		<li> <a href="/essays/buttons">On pushing a button</a></li>
		<li> <a href="/essays/profile">On editing a profile image</a></li>
	</ol>
</section>

</main>

