<div id="container" class="after-effect-push">
	
	<header class="intro-header">
		<blockquote>
			The screen is a magic medium. It has such power that it can retain interest as it conveys emotions and moods.
			<cite>Stanley Kubrick</cite>
		</blockquote>
		<div class="mirror-holder"></div>
	</header>

	<section class="intro-effect-sliced" >

	<div class="text-wrapper">
		

		<div class="name">
			<h3>Hendrik Kurniawan</h3>
		</div>

		<div id="intro">
			<a class="interactive link-border" href="/#interactive"><h3 class="text">On interaction</h3></a>
		</div>

		<div id="profile">
			<a class="programming link-braces" href="/essays">
				<span>Essays</span>
			</a>
		</div>

		<div class="clearfix"></div>

	</div>

	</section>

	<section class="container-interactive"></section>
</div>

<footer></footer>