<div id="container" class="after-effect-push">
	
	<header class="intro-header">
		<blockquote>
			The screen is a magic medium. It has such power that it can retain interest as it conveys emotions and moods.
			<cite>Stanley Kubrick</cite>
		</blockquote>
		<div class="mirror-holder"></div>
	</header>

	<section class="intro-effect-sliced" >
			<div class="text">

					<div class="name">
						<h3>Hendrik Kurniawan</h3>
					</div>

					<a id="intro" class="interactive link-border" href="/#interactive"></a>

					<div class="link-braces" id="profile">
						<a class="programming" href="/programming">
							Programming
						</a>
					</div>
					<div class="clearfix"></div>

			</div>
	</section>

	<section class="container"></section>
</div>

<footer></footer>