<section class="button-container">
	<button>Push me</button>
	<button class="depth relief">
		<span class="button-btn-text">Push me</span>
		<span class="button-btn-bg"></span>
	</button>
	<div class="clear"></div>
</section>