<section class="profile-container">
<main class="profile-wrapper">
	<div class="timeline-profile">
		<img src="/dist/images/timeline-profile.jpg">
		<i class="profile-icon-camera"></i>
	</div>

	<div class="icon-wrapper"><span>Update Profile Picture</span></div>
</main>
</section>