<main>

    {{> header}}

    <section class="gallery-container">
        <button class="content-switch back">Go back</button>
        <div class="carousel">
            
            <script id="galleryTemplate" type="text/html">

                <ul>                
                    <% _.each(flickr, function(el){ %>

                        <li>
                            <img src=<%= el.image %> />
                        </li>

                    <% }); %>
                </ul>

                <div class="carousel-nav">
                    <a href="#" class="prev noselect" data-dir='prev'>&larr;</a>
                    <a href="#" class="next noselect" data-dir='next'>&rarr;</a>
                </div>  

            </script>  
        </div>

    </section>

    <nav>
        <ul class="mainnav">        
            <li class="food">
                <a class="noselect" href="#food">food</a>
                <a href="#food"><button class="content-switch more">Read more</button></a>
            </li>
            <li class="portrait">
                <a class="noselect" href="#portrait">portrait</a>
                <a href="#portrait"><button class="content-switch more">Read more</button></a>
            </li>
            <li class="personal">
                <a class="noselect" href="">personal</a>
                 <a href="#personal"><button class="content-switch more">Read more</button></a>
            </li>
        </ul>

        <ul class="subnav">
            <li class="walk">
                <a class="noselect" href="#walk">walk</a>
            </li>
            <li class="wall">
                <a class="noselect" href="#wall-to-wall">wall-to-wall</a>
            </li>
        </ul>
    </nav>

    <div class="clear"></div>
        
</main>