	/*

		http://meyerweb.com/eric/tools/css/reset/
	   	v2.0 | 20110126
	   	License: none (public domain)


	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}



	/* #Basic Styles
	================================================== */

	body {
		font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	article {
		width: 60%;
		margin: 0 auto;
		line-height: 1.5em;		
	}

	

	/* #Typography
	================================================== */
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1 { font-size: 60px; line-height: 1.1; }
	h2 { font-size: 48px; line-height: 1.2; }
	h3 { font-size: 34px; line-height: 1.3; }
	h4 { font-size: 24px; line-height: 1.4; }
	h5 { font-size: 21px; line-height: 1.5; }
	h6 { font-size: 18px; line-height: 1.6; }

	p { margin: 0 0 60px 0; }
	em { font-style: italic; }
	strong { font-weight: bold; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


	@font-face {
		font-family: bebasLight;
		src: url('../fonts/bebas/BebasNeue_Light.otf');
	}

	@font-face {
		font-family: bebasThin;
		src: url('../fonts/bebas/BebasNeue_Thin.otf');
	}

	@font-face {
		font-family: bebasBook;
		src: url('../fonts/bebas/BebasNeue_Book.otf');
	}

	@font-face {
		font-family: bebasBold;
		src: url('../fonts/bebas/BebasNeue_Bold.otf');
		font-weight: bold;
	}

	@font-face {
		font-family: neuzeBook;
		src: url('../fonts/neuze/NeuzeitSLTStd-Book.otf');
	}

	@font-face {
		font-family: neuzeHeavy;
		src: url('../fonts/neuze/NeuzeitSLTStd-BookHeavy.otf');
	}

	/**
	 *
	 *		Project
	 *
	 */

	 .programming {
	 	font-family: bebasLight;
	 	letter-spacing: 12px;
	 	font-size: 70px;
	 	text-transform: uppercase;

	 }


	header {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-align: center;
	}

	section {
	    z-index: 1; /* needed for setting pseudo-element z-index */
	}

	section a {
	    outline: none;
	    color: #404d5b;
	    text-decoration: none;
	    white-space: nowrap;
	    position: relative;
	    display: inline-block;
	    vertical-align: bottom;
	}

	section a::before,
	section a::after {
	    pointer-events: none;
	}

	a, a:visited, a:active {
	  color: inherit;
	  text-decoration: none;
	}

.clearfix{
	clear:both;
}

/*	.container {
		margin: -100px auto 200px 0;
	}*/



blockquote {
	display: none;
	font-family: Georgia, serif;
	font-size: 16px;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}


.link-underline {
	text-decoration: underline;
}

.text {
	margin-left: -10%;
	width: 120%;
}

	.module {
		width: 900px;
		margin: 60px auto;
		background-attachment: fixed;
	}



	.intro-header {
		margin-top: 12%;
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		border-bottom: solid 1px grey;
		padding-bottom: 2%;
	}

	.absolute {
		position: absolute;
	}

	.fixed-pos {
		position:fixed;
		top: 0;
	}

	.name {
		visibility:hidden;
		font-family: neuzeHeavy;
		font-weight: 300;
		color: #555;
		letter-spacing: 2px;
		float: left;
		width: 384px;
		margin-top: 10px;
	}

	.name:after {
		content: '';
		position: absolute;
		bottom: 38%;
		left: -8px;
		height: 1px;
		width: 384px;
		background: #555;
	}

	.intro-effect-sliced {
		margin: 12% auto 0 auto;
	}


	.text #intro {
		font-family: bebasBook;
		float: left;
		width: 37.3%;
		text-align: right;
		font-size: 3.7em;
		letter-spacing: 10px;
		padding-top: 2px;
	}

	p.mirror-interactive {
		font-size: 3.1em;
	}

	.mirror-holder {
		margin-bottom: -19px;
	}

	p.mirror-interactive {
	font-family: bebasBook;
	letter-spacing: 10px;
	margin-bottom: 30px;
}


	.text #profile {
		display: none;
		float: left;
		text-align: right;
		width: 37.3%;
	}

	/* Border */
	p.link-border {
		color: #C0C0C0;
		font-weight: 700;
		-webkit-transition: -webkit-transform 0.2s;
		transition: transform 0.2s;
	}

	p.link-border:hover,
	p.link-border:focus {
		-webkit-transform: scale(0.8333);
		transform: scale(0.8333);
		color: #e74c3c;
	}

	p.link-border::before {
		position: absolute;
		top: -9px;
		margin-left: -5%;
		box-sizing: content-box;
		height: 100%;
		border: 2px solid #e74c3c;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
		transition: opacity 0.2s, transform 0.2s;
		-webkit-transform: scale(0.8333);
		transform: scale(0.8333);
	}

	p.link-border:hover::before,
	p.link-border:focus::before {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}


	/* Text scale */
	.link-braces a {
		text-align: center;
		padding: 0 0.25em;
		font-weight: 500;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.link-braces a:hover {
		color: #d04c3f;
	}

	.link-braces a::before,
	.link-braces a::after {
		position: absolute;
		top: -0.15em;
		font-weight: 100;
		font-size: 150%;
		line-height: 1;
		opacity: 0;
		-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
		transition: opacity 0.2s, transform 0.2s;
	}

	.link-braces a::before {
		left: -0.4em;
		content: '{';
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.link-braces a::after {
		right: -0.4em;
		content: '}';
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	.link-braces a:hover::before,
	.link-braces a:hover::after {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}


	/* -------------------------- */
	/* Sliced */
	/* -------------------------- */


	.intro-effect-sliced:not(.notrans) .interactive {
		-webkit-transition-property: -webkit-transform;
		transition-property: transform;
	}

	.intro-effect-sliced:not(.notrans) .header p {
		-webkit-transition-property: opacity;
		transition-property: opacity;
	}

	.intro-effect-sliced:not(.notrans) .header h1,
	.intro-effect-sliced:not(.notrans) .interactive,
	.intro-effect-sliced:not(.notrans) .codrops-demos a {
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	.intro-effect-sliced.modify:not(.notrans) .header h1,
	.intro-effect-sliced.modify:not(.notrans) .interactive,
	.intro-effect-sliced.modify:not(.notrans) .header p,
	.intro-effect-sliced.modify:not(.notrans) .content > div,
	.intro-effect-sliced.modify:not(.notrans) .codrops-demos a {
		-webkit-transition-timing-function: ease;
		transition-timing-function: ease;
	}


	.intro-effect-sliced .text {
		transform: scale(0.5);
	}

	.intro-effect-sliced.modify .name,
	.intro-effect-sliced.modify .programming {
		opacity: 0;
	}


	/* Delays */
	.intro-effect-sliced.modify:not(.notrans) .interactive {
		-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
	}




/***** Individual effects *****/


.header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}



.title {
	z-index: 1000;
	margin: 0 auto;
	padding: 0 1.25em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.title h1 {
	padding: 0 0 0.2em;
	color: #fff;
	font-weight: 800;
	font-size: 3.25em;
	margin: 0 auto;
}

.title p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
}

.title h1,
.title p.subline {
	line-height: 1;
}

.title p.subline {
	font-size: 1.75em;
}



/* -------------------------- */
/* Jam 3 */
/* -------------------------- */
.intro-effect-jam3:not(.notrans) .bg-img {
	-webkit-transition-property: top, left, right, bottom;
	transition-property: top, left, right, bottom;
}

.intro-effect-jam3:not(.notrans) .header h1,
.intro-effect-jam3:not(.notrans) .codrops-top a {
	-webkit-transition-property: color;
	transition-property: color;
}

.intro-effect-jam3:not(.notrans) .codrops-demos a {
	-webkit-transition-property: border-color, color;
	transition-property: border-color, color;
}

.intro-effect-jam3:not(.notrans) .header p {
	-webkit-transition-property: color, opacity, -webkit-transform;
	transition-property: color, opacity, transform;
}

.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
}

.intro-effect-jam3:not(.notrans) .bg-img,
.intro-effect-jam3:not(.notrans) .header h1,
.intro-effect-jam3:not(.notrans) .codrops-top a,
.intro-effect-jam3:not(.notrans) .codrops-demos a,
.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.intro-effect-jam3:not(.notrans) .header p,
.intro-effect-jam3:not(.notrans) .header p.subline,
.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.intro-effect-jam3.modify:not(.notrans) .header p,
.intro-effect-jam3.modify:not(.notrans) .header p.subline,
.intro-effect-jam3.modify:not(.notrans) .content > div {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}



.intro-effect-jam3.container {
	padding: 45px 30px;
}

.intro-effect-jam3 .bg-img {
	top: -45px;
	right: -30px;
	bottom: -100px;
	left: -30px;
	background: #514753;
}

.intro-effect-jam3.modify .bg-img {
	top: 0;
	right: 0;
	bottom: 85%;
	left: 0;
}




.intro-effect-jam3.modify .header h1 {
	color: #514753;
}

.intro-effect-jam3 .header p {
	color: #514753;
	opacity: 0;
	-webkit-transform: translateY(150px);
	transform: translateY(150px);
}

.intro-effect-jam3.modify .header p {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro-effect-jam3 .content {
	padding: 0 5em 5em;
}

.intro-effect-jam3 .header,
.intro-effect-jam3 .content {
	background: #fff;
}

.intro-effect-jam3 .content > div {
	opacity: 0;
	-webkit-transform: translateY(150px);
	transform: translateY(150px);
}

.intro-effect-jam3.modify .content > div {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro-effect-jam3.modify .codrops-top a {
	color: #514753;
}

/* Delays */
.intro-effect-jam3.modify:not(.notrans) .header p:nth-last-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.intro-effect-jam3.modify:not(.notrans) .header p:last-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.intro-effect-jam3.modify:not(.notrans) .content > div {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}



/**

		Module

**/




.parallax {
	top: 110%;
	position: fixed;
	background: url('../images/unsplash.jpg') no-repeat center;
	background-size: cover;
	height: 100%;
	width: 100%;
}


.wrapper {
	position: relative;
}

.container-inner {
	position: relative;
	height: 100%;
}

#prologue {
	position: relative;
}

.module-text-top {
	
	width: 80%;
	left: 10%;
	position: fixed;
	top: 60%;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

.headline {
	position: relative;
	z-index: 100;
	font-size: 35px;
	letter-spacing: 12px;
	line-height: 1.5;
	font-weight: 900;
	color: #ccc;
}

.byline {
	position: relative;
	z-index: 1;
	font-size: 15px;
	letter-spacing: 4px;
	text-align: center;
	font-weight: 300;
	margin-top: 3%;
}

.module-text{
	width: 60%;
	position: fixed;
	top: 140%;
	left: 20%;
}

.module-text p {
	line-height: 1.5em;
}

.module-text a {
	margin-left: 30px;
	color: #555;
}

.module-text a:hover {
	text-decoration: underline;
}


.tagline {
	margin-top: 50px !important;
}

